/* MOBILE MENU OPEN ANIMATIONS */

.menu-panel {
  transform: translateX(-100%);
  transition: transform 0.35s ease-in-out;
  
}

.menu-panel.open {
  transform: translateX(0);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.background-fadein{
    background-color: transparent;
    transition: background-color 0.35s ease-in-out;
}
.background-fadein.open{
    background-color: #00000180;
}
