/* inclusive-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inclusive Sans';
  font-style: normal;
  font-weight: 500;
  src: url('..public/fonts/inclusive-sans-v4-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.inclusive_sans{
    font-family: 'Inclusive Sans';
}