@layer base {
  ul {
    list-style: disc;
    padding-left: 1.5rem;
  }
  
  ol {
    list-style: decimal;
    padding-left: 1.5rem;
  }

  li {
    display: list-item;
  }
}


:root{
    --primary-bg-color: #3F7265;
    --secondary-bg-color: #82ADA2;
    --tretairy-bg-color: #255a4c;
}

#text-section a {
    color: var(--primary-bg-color);
    text-decoration: underline;
    transition: color 0.3s ease;
}

#text-section a:hover {
    color: var(--tretairy-bg-color);
}

.generic_dropshadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropshadow_hover:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.light_dropshadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.text_not_important{
    color: #656565;
}

/* https://stackoverflow.com/questions/55395192/resizing-google-material-icons-font-size */
.google-icon{
    font-size: 45px!important;
    transition: 300ms;
}
.material-symbols-outlined{
    user-select: none;
}
.primary-bg{
    background-color: var(--primary-bg-color);
}

.secondary-bg{
    background-color: var(--secondary-bg-color);
}
.primary-text{
    color: var(--primary-bg-color);;
}
html,
body {
    overflow: auto;      
}

/* Chrome/Safari/Edge/Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* IE/old Edge */
html {
    -ms-overflow-style: none;
}



/* Remove input field highlight and replace with better border */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: var(--primary-bg-color);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;

}

input:focus {
  outline: none;
  box-shadow: none;

}
.input_search{
    border-color: #656565!important;
    box-sizing: border-box;
}

.buttonSelected{
    background-color: #3F7265;
    color: white;
}

.spc_block {
  display: none;
}

@media (min-width: 1024px) {
  .spc_block {
    display: flex;
  }
}
