@import "tailwindcss";

:root{
    --primary-bg-color: #3F7265;
    --secondary-bg-color: #82ADA2;
}

.generic_dropshadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dropshadow_hover:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}
.text_not_important{
    color: #656565;
}

.primary-bg{
    background-color: var(--primary-bg-color);
}

.secondary-bg{
    background-color: var(--secondary-bg-color);
}

html,
body {
    overflow: auto;      
}

/* Chrome/Safari/Edge/Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* IE/old Edge */
html {
    -ms-overflow-style: none;
}



/* Remove input field highlight and replace with better border */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: var(--primary-bg-color);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;

}